@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(0.25turn, #7209B7, #560BAD, #480CA8, #3A0CA3, #3F37C9, #4361EE, #4895EF, #4CC9F0);
    padding: 40px auto;
    box-sizing: border-box;
}

#container {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    width: 80%;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#text {
    width: 90%;
    padding: 15px 20px;
    border-radius: 10px;
    border-image-source: linear-gradient(0.25turn, #7209B7, #560BAD, #480CA8, #3A0CA3, #3F37C9, #4361EE, #4895EF, #4CC9F0);
    border-width: 5pt;
    border-image-slice: 1;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.35);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

#text:focus {
    border-image-source: linear-gradient(0.7turn, #7209B7, #560BAD, #480CA8, #3A0CA3, #3F37C9, #4361EE, #4895EF, #4CC9F0);
    border-width: 5pt;
    border-image-slice: 1;
    outline: none;
}

::placeholder {
    color: #fff;
}

#code {
    font-size: 1.5rem;
}

#btn {
    padding: 15px;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    background-color: lightslategrey;
    color: #fff;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 300ms ease-in-out;
    cursor: pointer;
}

#btn:hover {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.alert {
    width: 300px;
    position: absolute;
    top: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px 20px;
    text-align: center !important;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    animation: show 300ms ease-in-out forwards;
    display: none;
    justify-content: center;
}

h1 {
    text-align: center;
}

@keyframes show {
    from {
        transform: translateY(-100px);
        opacity: 0.4;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 780px) {
    #container {
        width: 90%;
        padding: 30px;
    }
    .alert {
        width: 90%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 480px) {
    #container {
        width: 90%;
        padding: 30px;
    }
     ::placeholder {
        font-size: 0.7rem;
    }
}